/* ------------design component---------------- */

:root{
    --primary-color: #f0e7e5;
    --secondary-color:#4E4646;
    --third-color: #b07060;
    --secondary-color_2: rgba(131, 119, 117, 0.5);
    --font: 'IBM Plex Serif', serif;
    --header-footer-gap: 20px;
    --nav-size: 20px;
    --normal-size: 18px;
    --item-margin-v: 5vh 0;
    --item_margin-v-small: 2vh 0;
    --p-line-height: 1.2em;
    --des-line-height: 1.8em;
    --img-credit: 0.6em;
}



/* ------------header---------------- */


.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.skip:active, 
a.skip:focus, 
a.skip:hover {
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
    border: 2px var(--secondary-color_2);
    background: white;
    padding: 5px;
}


header{
    height: 6vh;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    /* background: var(--secondary-color); */

}

header nav{
    position: fixed;
    width: 100%;
    top: 3vh;
    display: grid;
    grid-column-gap: var(--header-footer-gap);
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
}

a{
    color: var(--secondary-color);
}
nav ul{
    grid-column: 3/4;
    display: grid;
    grid-template-columns: auto auto auto;
}

.nav_link{
    position: relative;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: var(--nav-size);
    
}
.no_line{
    text-decoration: none;

}

.nav_link:hover{
    position: relative;
    color: var(--secondary-color);
    font-size: var(--nav-size);
    text-decoration: underline var(--secondary-color);
    /* text-underline-position: under; */
}


#current_page{
    color: var(--secondary-color);
    font-size: var(--nav-size);
    font-family: var(--font);
    font-weight: bolders;
    text-decoration: 10px underline var(--secondary-color);
    text-underline-position: under;

}





/* ------------index-main---------------- */
body{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    background-color: var(--primary-color);
    position: relative;
    font-family: var(--font);
}

main{
    position: relative;
    display: grid;
    grid-template-rows: 1.2fr 1fr;
    height: auto;

}
#landing_block{
    position: relative;
    display: grid;
    grid-template-columns: 0.8fr 1.3fr;
    height: auto;
    width:100%;

}
#landing_h1{
    position: relative;
    color: var(--secondary-color);
    font-size: 8em;
    line-height:1.6em;
    left: 8vw;
    top: 20vh;
    z-index:10;
    font-family: var(--font);
    animation-name: color_change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes color_change{
    from {color: var(--secondary-color);}
    to {color: var(--third-color);}
}



#landing_h1:hover{
    text-shadow: 10px 10px  var(--secondary-color_2);

}


#landing_pic{
    position: relative;
    width: 80%;
    height: auto;
    top: 20vh;
    transform: rotate(-5deg);
}

#landing_pic:hover{
    box-shadow: 20px 20px  var(--secondary-color_2);
}




/* ------------contact form---------------- */
form{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 500px;}

.form_title{
    position: relative;
    color: var(--secondary-color);
    font-size: 2em;
    text-align:center;
    font-family: var(--font);
    margin: var(--item_margin-v-small);
}

.form_label{
    position: relative;
    color: var(--secondary-color);
    font-size: var(--normal-size);
    text-align:left;
    font-family: var(--font);
    margin:var(--item_margin-v-small);
    
}

.form_button{
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    width: 100px;
    text-align: center;
    align-self: center;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    background-color: #f5f0ef;

}

.form_input{
    border: 2px solid var(--secondary-color);
    height: 1.8em;
    background-color: #f5f0ef;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    font-family: var(--font);
   
}
::placeholder{
    color:var(--secondary-color_2);
}

/* ------------footer---------------- */
footer{
    position: relative;
    display: grid;
    width: 100%;
    height: 6vh;
    grid-template-columns: 1fr;
    grid-gap:var(--header-footer-gap);
    bottom:0;
    margin-top:100px;
    background:var(--third-color);
    padding-top:2vh;
    
 }

footer #copy{
    /* grid-column: 2/3; */
    text-align: center;
    color: white;
    font-size: var(--normal-size);
}



/* ------------filter---------------- */



.filter-page-main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top:40px;

}

.book_gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top:40px;


}
.gallery_image{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 8vh;
    text-decoration: none;
}
.gallery_image>.bookstore_nar_filter:hover{
 background: var(--secondary-color_2);
 padding:2px;
}


.filter_image{
    box-sizing:border-box;
    width: 60%;
    margin: 3vh;
    /* padding: 0 2vh; */

}
.filter_image:hover{
    box-shadow: 10px 10px  var(--secondary-color_2);
}

.page_title{
    position: relative;
    color: var(--secondary-color);
    font-size: 3.8em;
    text-align:center;
    font-family: var(--font);
    margin: var(--item-margin-v);
}

.page_des{
    position: relative;
    color: var(--secondary-color);
    font-size: 1.6em;
    text-align:center;
    width: 60vw;
    font-family: var(--font);
    line-height: 2em;
    margin: var(--item-margin-v);

}

.bookstore_nar_filter{
    position: relative;
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: 600;
    text-align:center;
    font-family: var(--font);
    line-height: var(--p-line-height);
    margin: 10px 0;
   
}

/* ------------page info---------------- */

hr{
    border: solid 0.7px var(--secondary-color_2);
    width:30%;
}

.page_loc{
    position: relative;
    color: var(--secondary-color);
    line-height: 1em;
    font-size: 1.3em;
    text-align:center;
    width: 60vw;
    font-family: var(--font);
    margin: 10px;

}
.bookstore_info{
    position: relative;
    color: var(--secondary-color);
    line-height: 1.2em;
    font-size: 1.2em;
    text-align:center;
    width: 60vw;
    font-family: var(--font);
    margin: var(--item-margin-v);

}

.bookstore_nar{
    position: relative;
    color: var(--secondary-color);
    font-size: 1.2em;
    line-height:1.4em;
    text-align:center;
    width: 45vw;
    font-family: var(--font);
    margin: var(--item-margin-v);

}

.book_img{
    margin: 10px;
    width: 25vw;
}
.img_credit{
    font-size: var(--img-credit);

}


/* ------------tablet---------------- */

@media screen and (max-width: 1050px) {
    #landing_block{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* grid-template-rows: 1fr 1fr; */
        height: auto;
        width:100%;
    }
    #landing_pic{
        position: relative;
        width: 70%;
        height: auto;
        top: 10vh;
        left:10vw;
        align-self: center;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 700px) {
    #landing_block{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* grid-template-rows: 1fr 1fr; */
        height: auto;
        width:100%;
    }

    #landing_pic{
        position: relative;
        width: 80%;
        height: auto;
        top: 10vh;
        align-self: center;
        transform: rotate(-5deg);
    }
    #landing_h1{
        position: relative;
        color: var(--secondary-color);
        font-size: 5em;
        line-height:1.6em;
        left: 8vw;
        top: 10vh;
        z-index:10;
        font-family: var(--font);
    }
    header nav{
        position: fixed;
        width: 100%;
        top: 3vh;
        display: grid;
        grid-column-gap: var(--header-footer-gap);
        grid-template-rows:auto;
        grid-template-columns:none;
        align-self: center;
    }
    .form_title{
        position: relative;
        color: var(--secondary-color);
        font-size: 1.4em;
        text-align:center;
        font-family: var(--font);
        margin: var(--item_margin-v-small);
    }
    
    .form_label{
        position: relative;
        color: var(--secondary-color);
        font-size: 1.2em;
        text-align:left;
        font-family: var(--font);
        margin:var(--item_margin-v-small);
        
    }
    .page_des{
        position: relative;
        color: var(--secondary-color);
        font-size: 1.3em;
        text-align:center;
        width: 100%;
        font-family: var(--font);
        line-height: var(--des-line-height);
        margin: var(--item-margin-v);
    
    }
    .bookstore_nar{
        position: relative;
        color: var(--secondary-color);
        font-size: 1.2em;
        line-height:1.4em;
        text-align:center;
        width:100%;
        font-family: var(--font);
        margin: var(--item-margin-v);
    
    }
    .bookstore_info{
        position: relative;
        color: var(--secondary-color);
        line-height: 1.2em;
        font-size: 1.2em;
        text-align:center;
        width: 100%;
        font-family: var(--font);
        margin: var(--item-margin-v);
    
    }
    .book_gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top:40px;
    
    
    }
    .book_img{
        width: 60%;
    }

}

  /* ------------mobile---------------- */

@media screen and (max-width: 400px) {
    #landing_block{
        position: relative;
        display: flex;
        flex-direction: column;
        /* grid-template-rows: 1fr 1fr; */
        height: auto;
        width:100%;
        }
    #landing_pic{
        position: relative;
        width: 80%;
        height: auto;
        top: 10vh;
        align-self: center;
        transform: rotate(-5deg);
    }
    #landing_h1{
        position: relative;
        color: var(--secondary-color);
        font-size: 3.5em;
        line-height:1.6em;
        left: 8vw;
        top: 10vh;
        z-index:10;
        font-family: var(--font);
    }
    header nav{
        position: fixed;
        width: 100%;
        top: 3vh;
        display: grid;
        grid-column-gap: var(--header-footer-gap);
        grid-template-rows:auto;
        align-self: center;
    }
    form{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 100px auto;
        width: 100%;
    }

    .form_title{
        position: relative;
        color: var(--secondary-color);
        font-size: 1.4em;
        text-align:center;
        font-family: var(--font);
        margin: var(--item_margin-v-small);
    }
    
    .form_label{
        position: relative;
        color: var(--secondary-color);
        font-size: 1em;
        text-align:left;
        font-family: var(--font);
        margin:var(--item_margin-v-small);
        
    }
    .page_des{
        position: relative;
        color: var(--secondary-color);
        font-size: 1.3em;
        line-height: 1.3em;;
        text-align:left;
        width: 100%;
        font-family: var(--font);
        line-height: var(--des-line-height);
        margin: var(--item-margin-v);
        border-left: 2px var(--secondary-color);
    
    }
    .bookstore_nar{
        position: relative;
        color: var(--secondary-color);
        font-size: 1.2em;
        line-height:1.4em;
        text-align:left;
        width:100%;
        font-family: var(--font);
        margin: var(--item-margin-v);
        border-left: 2px var(--secondary-color);
    
    }
    .bookstore_info{
        position: relative;
        color: var(--secondary-color);
        line-height: 1.2em;
        font-size: 1.2em;
        text-align:left;
        width:100%;
        font-family: var(--font);
        margin: var(--item-margin-v);
        border-left: 2px var(--secondary-color);
    
    }
    .book_gallery{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top:40px;
    
    
    }
    .book_img{
        width: 60%;
    }
    footer #copy{
        text-align: center;
    color: white;
    font-size: 0.8em;
    }

}
@media screen and (prefers-reduced-motion: reduce) {
    #landing_h1{
        position: relative;
        color: var(--secondary-color);
        font-size: 8em;
        line-height:1.6em;
        left: 8vw;
        top: 20vh;
        z-index:10;
        font-family: var(--font);
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
    
    }
