/* ------------design component---------------- */

:root{
    --primary-color: 240, 231, 229;
    --secondary-color: 78, 70, 70;
    --third-color: 176, 111, 94;
    --secondary-color_2: rgba(131, 119, 117, 0.5);
    --font: 'Playfair Display', serif;
    --header-footer-gap: 20px;
    --nav-size: 20px;
    --normal-size: 18px;
    --button-font: 1.6rem;
    --item-margin-v: 5vh 0;
    --item_margin-v-small: 2vh 0;
    --p-line-height: 1.2rem;
    --des-line-height: 1.8rem;
    --img-credit: 0.6rem;
    --color: 240, 240, 240;
}



/* ------------header---------------- */


.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.skip:active, 
a.skip:focus, 
a.skip:hover {
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
    border: 2px var(--secondary-color_2);
    background: white;
    padding: 5px;
}


header{
    height: 6vh;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;

}

header nav{
    position: fixed;
    z-index:100;
    width: 100%;
    height: 6vh;
    top: 3vh;
    display: grid;
    grid-column-gap: var(--header-footer-gap);
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;


}

a{
    color: rgba(var(--secondary-color));
}
nav ul{
    grid-column: 3/4;
    display: grid;
    grid-template-columns: auto auto auto;
}

.nav_link{
    position: relative;
    color: var(--secondary-color_2);
    text-decoration: none;
    font-size: var(--nav-size);
    padding:5px;

    
}
.no_line{
    text-decoration: none;

}

.nav_link:hover{
    position: relative;
    color: rgba(var(--primary-color),1);
    font-size: var(--nav-size);
    /* text-decoration: underline var(--secondary-color); */
    /* text-underline-position: under; */
    background: rgba(var(--third-color),0.4);
    transition: .3s;
    padding: 5px;
}




 #current_page{
    color: rgba(var(--primary-color));
    font-size: var(--nav-size);
    font-family: var(--font);
    font-weight: bold;
    /* text-decoration: 10px underline var(--secondary-color); */
    /* text-underline-position: under; */
    background: rgba(var(--third-color));
    padding: 5px;
} 





/* ------------index-main---------------- */
body{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    background-color: rgba(var(--primary-color));
    position: relative;
    font-family: var(--font);
}

main{
    position: relative;
    display: grid;
    grid-template-rows: 1.2fr 1fr;
    height: auto;

}
#landing_block{
    position: relative;
    display: grid;
    grid-template-columns: 0.8fr 1.3fr;
    grid-template-rows: auto auto;
    height: auto;
    width:100%;
   

}
#landing_h1{
    position: relative;
    color: rgba(var(--secondary-color));
    grid-column: 1/2;
    font-size: 8em;
    line-height:1.6em;
    left: 8vw;
    top: 10vh;
    z-index:10;
    font-family: var(--font);
    animation-name: color_change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    letter-spacing: 0.5rem;
}

@keyframes color_change{
    from {color: rgba(var(--secondary-color));}
    to {color: rgba(var(--third-color));}
}



#landing_h1:hover{
    text-shadow: 10px 14px  var(--secondary-color_2);

}


#landing_pic{
    position: relative;
    width: 70%;
    height: auto;
    top: 40vh;
    transform: rotate(-5deg);
    grid-column: 2/3;
    grid-row: 1/2;
    box-shadow: 20px 20px  var(--secondary-color_2);

}

#landing_pic:hover{
    box-shadow: 20px 20px  var(--secondary-color_2);
}

#landing_pic_2{
    position: relative;
    width: 60%;
    height: auto;
    left: 30vw;
    top: -4vh;
    transform: rotate(5deg);
    grid-column: 1/2;
    grid-row: 2/3;
    box-shadow: 10px 20px  var(--secondary-color_2);

}


.v_text{
    position: absolute;
    display: block;
    /* writing-mode: sideways-right;
    text-orientation: mixed; */
    transform: rotate(90deg);
    font-size: var(--normal-size);
    color: rgba(var(--third-color));
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: flex-start;
    border-left: 2px solid;
    padding-left: 10px;

    
    
}

/* .v_line{
    grid-column: 1/2;
    grid-row: 1/2;
    border-left: 2px solid var(--secondary-color);
    height: 400px;
    margin-left: 50px;
    z-index:100;

} */


/* ------------contact form---------------- */
form{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 500px;}

.form_title{
    position: relative;
    color: rgba(var(--secondary-color));
    font-size: 2em;
    text-align:center;
    font-family: var(--font);
    margin: var(--item_margin-v-small);
}

.form_label{
    position: relative;
    color: rgba(var(--secondary-color));
    font-size: var(--normal-size);
    text-align:left;
    font-family: var(--font);
    margin:var(--item_margin-v-small);
    
}

.form_button{
    border: 2px solid rgba(var(--secondary-color));
    background-color: rgba(var(--primary-color));
    width: 100px;
    text-align: center;
    align-self: center;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;

}

.form_button:hover{
    background-color: rgba(var(--secondary-color));
    cursor: pointer;
    color:#f5f0ef;



}

.form_input{
    border: 2px solid rgba(var(--secondary-color));
    height: 1.8em;
    background-color: #f5f0ef;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    font-family: var(--font);
    
   
}
::placeholder{
    color:var(--secondary-color_2);
}
.errormsg{
    margin-bottom: 1rem;
    margin-top: 0.4rem;
    color: rgba(var(--third-color));
    visibility: hidden;

}
/* ------------footer---------------- */
footer{
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:var(--header-footer-gap);
    bottom:0;
    margin-top:100px;
    background: rgba(var(--third-color));
    padding-top:2vh;
    padding-bottom:2vh;
    
 }

footer #copy{
    /* grid-column: 2/3; */
    text-align: center;
    color: white;
    font-size: var(--normal-size);
    grid-row: 2/3;
    
}


footer a{
    text-align: center;
    color: white;
    /* font-size: var(--normal-size); */
    grid-row: 1/2;
    margin: 5px 10px;

}

.social_icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    /* font-size: var(--normal-size); */
    grid-row:1/2;

}
/* ------------filter---------------- */



.filter-page-main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top:100px;

}

.book_gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top:40px;


}
.gallery_image{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 8vh;
    text-decoration: none;
}



.filter_image{
    box-sizing:border-box;
    width: 60%;
    margin: 3vh;
    /* padding: 0 2vh; */
    outline: 2px solid;
    outline-offset: 3px;
  

}
.filter_image:hover{
    box-shadow: 20px 20px  var(--secondary-color_2);
    transition: 0.5s;
}

.page_title{
    position: relative;
    color: rgba(var(--secondary-color));
    font-size: 3.8em;
    text-align:center;
    font-family: var(--font);
    margin: var(--item-margin-v);
    margin-top:200px;
}

.page_des{
    position: relative;
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-align:center;
    width: 60vw;
    font-family: var(--font);
    line-height: 2em;
    margin: var(--item-margin-v);

}

.bookstore_nar_filter{
    position: relative;
    color: rgba(var(--primary-color));
    font-size: var(--button-font);
    font-weight: 600;
    text-align:center;
    font-family: var(--font);
    line-height: var(--p-line-height);
    margin: 10px 0;
    /* outline: 2px solid;
    outline-offset: 5px; */
    background: var(--secondary-color_2);
    padding: 10px;
   
}
.gallery_image>.bookstore_nar_filter:hover{
    background: rgba(var(--secondary-color));
    transition: 0.4s;
   
   }
.gallery_title{
    font-size:2.2rem;
    font-weight: 800;
    margin: 3vh auto;
    margin-bottom: 40px;
    background: rgba(var(--third-color),0.7);
    padding: 3px;
    color: rgba(var(--primary-color));
}

#down_arrow{
    color: rgba(var(--secondary-color), 0.7);
    margin: 5px;
    animation: bounce infinite 2s;
    font-size: 2rem;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }

    40%{
        transform: translateY(-10px);
    }
    60%{
        transform: translateY(-1px);
    }
}

.highlight{
    background: var(--secondary-color_2);
}
/* ----world map--- */

#map_block{
    display: grid;
    width: 100%;
    position:relative;
    
}

#worldmap{
    width: 60%;
    margin: auto;
    opacity:0.7; 
}

#b_m{
    margin-top:100px;
}

.point{
    cursor: pointer;
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background-color:  rgba(var(--secondary-color));
    opacity: 1;
    border-radius: 100%;
    transition: all .3s ease;
    animation: pulse 5s infinite;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 0 var(--secondary-color_2);
    align-items: center;
    
}

.point:hover{
    transform: scale(2.0);
    border-radius: 5%;
    width: auto;
    height: 2rem;
    opacity: 1;
    animation: none;
    box-shadow: 0 0 0 5px var(--secondary-color_2);
    justify-content: center; 
    transition: 0.5s;
   
}



.paris{
    display:grid;
    top: 26%;
    left:48%;
    align-self: center;
}
.p_title{
    margin-top: 0.2rem;
    font-size: 0.4rem;
    opacity: 0;
    color: rgba(var(--primary-color));
    display: none;
    margin-right: 5px;
    margin-left: 5px;
}
.p_title:hover{
    opacity: 1; 
    transition: 0.5s;
    display: inline;
}

.loc{
    margin-top:0;
    font-size: 0.5rem;
    opacity: 0;
    color: rgba(var(--primary-color));
    display: none;
   
}

.loc:hover{
    opacity: 1; 
    transition: 0.5s;

}
.santorini{
    display:grid;
    top: 30%;
    left:51%;
}

.tw{
    display:grid;
    top: 44%;
    left:71.3%;

}

@keyframes pulse {
    0% { 
        box-shadow: 0 0 0 0 var(--secondary-color_2);
        opacity: 0.9;
    }
    70% { 
        box-shadow: 0 0 0 8px var(--secondary-color_2);
        opacity: 0.7;
    }
    100% { 
        box-shadow: 0 0 0 0 var(--secondary-color_2);
        opacity: 0.3;
    }
  }

/* ------------page info---------------- */

hr{
    border: solid 0.7px var(--secondary-color_2);
    width:30%;
    margin-top: 50px;
}

.page_loc{
    position: relative;
    color: rgba(var(--secondary-color));
    line-height: 1em;
    font-size: 1.3em;
    text-align:center;
    width: 60vw;
    font-family: var(--font);
    margin: 10px;

}
.bookstore_info{
    position: relative;
    color: rgba(var(--secondary-color));
    line-height: 1.2em;
    font-size: 1.2em;
    text-align:center;
    width: 60vw;
    font-family: var(--font);
    margin: var(--item-margin-v);

}

.bookstore_nar{
    position: relative;
    color: rgba(var(--secondary-color));
    font-size: 1.2em;
    line-height:1.4em;
    text-align:center;
    width: 45vw;
    font-family: var(--font);
    margin: var(--item-margin-v);

}

.book_img{
    margin: 10px;
    width: 25vw;
}
.img_credit{
    font-size: var(--img-credit);

}


/* ------------tablet---------------- */

@media screen and (max-width: 1050px) {
    #landing_block{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* grid-template-rows: 1fr 1fr; */
        height: auto;
        width:100%;
    }
    #landing_pic{
        position: relative;
        width: 70%;
        height: auto;
        top: 10vh;
        left:10vw;
        align-self: center;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 700px) {
    #landing_block{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* grid-template-rows: 1fr 1fr; */
        height: auto;
        width:100%;
    }

    #landing_pic{
        position: relative;
        width: 80%;
        height: auto;
        top: 10vh;
        align-self: center;
        transform: rotate(-5deg);
    }
    #landing_h1{
        position: relative;
        color: rgba(var(--secondary-color));
        font-size: 5em;
        line-height:1.6em;
        left: 8vw;
        top: 10vh;
        z-index:10;
        font-family: var(--font);
        letter-spacing: 0.1em;
        }

    header nav{
        position: fixed;
        width: 100%;
        top: 3vh;
        display: grid;
        grid-column-gap: var(--header-footer-gap);
        grid-template-rows:auto;
        grid-template-columns:none;
        align-self: center;
    }
    .form_title{
        position: relative;
        color: rgba(var(--secondary-color));
        font-size: 1.4em;
        text-align:center;
        font-family: var(--font);
        margin: var(--item_margin-v-small);
    }
    
    .form_label{
        position: relative;
        color: rgba(var(--secondary-color));
        font-size: 1.2em;
        text-align:left;
        font-family: var(--font);
        margin:var(--item_margin-v-small);
        
    }
    .page_des{
        position: relative;
        color: rgba(var(--secondary-color));
        font-size: 1.2rem;
        text-align:center;
        width: 100%;
        font-family: var(--font);
        line-height: var(--des-line-height);
        margin: var(--item-margin-v);
    
    }
    .bookstore_nar{
        position: relative;
        color: var(--secondary-color);
        font-size: 1.2em;
        line-height:1.4em;
        text-align:center;
        width:100%;
        font-family: var(--font);
        margin: var(--item-margin-v);
    
    }

    .gallery{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top:100px;

    }

    .bookstore_info{
        position: relative;
        color: rgba(var(--secondary-color));
        line-height: 1.2em;
        font-size: 1.2em;
        text-align:center;
        width: 100%;
        font-family: var(--font);
        margin: var(--item-margin-v);
    
    }
    .book_gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top:40px;
    
    
    }
    .filter_image{
        box-sizing:border-box;
        width: 100%;
        margin: 3vh;
        /* padding: 0 2vh; */
    
    }
    .book_img{
        width: 60%;
    }

}

  /* ------------mobile---------------- */

@media screen and (max-width: 400px) {
    #landing_block{
        position: relative;
        display: flex;
        flex-direction: column;
        /* grid-template-rows: 1fr 1fr; */
        height: auto;
        width:100%;
        }
    #landing_pic{
        position: relative;
        width: 80%;
        height: auto;
        top: 10vh;
        align-self: center;
        transform: rotate(-5deg);
    }
    #landing_h1{
        position: relative;
        color: rgba(var(--secondary-color));
        font-size: 3.5em;
        line-height:1.6em;
        left: 8vw;
        top: 10vh;
        z-index:10;
        font-family: var(--font);
    }
    header nav{
        position: fixed;
        width: 100%;
        top: 3vh;
        display: grid;
        grid-column-gap: var(--header-footer-gap);
        grid-template-rows:auto;
        align-self: center;
    }
    form{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 100px auto;
        width: 100%;
    }

    .form_title{
        position: relative;
        color: rgba(var(--secondary-color));
        font-size: 1.4em;
        text-align:center;
        font-family: var(--font);
        margin: var(--item_margin-v-small);
    }
    
    .form_label{
        position: relative;
        color: rgba(var(--secondary-color));
        font-size: 1em;
        text-align:left;
        font-family: var(--font);
        margin:var(--item_margin-v-small);
        
    }
    .page_des{
        position: relative;
        color: rgba(var(--secondary-color));
        font-size: 1.2rem;
        line-height: 1.3em;;
        text-align:left;
        width: 100%;
        font-family: var(--font);
        line-height: var(--des-line-height);
        margin: var(--item-margin-v);
        border-left: 2px rgba(var(--secondary-color));
    
    }
    .bookstore_nar{
        position: relative;
        color: rgba(var(--secondary-color));
        font-size: 1.2em;
        line-height:1.4em;
        text-align:left;
        width:100%;
        font-family: var(--font);
        margin: var(--item-margin-v);
        border-left: 2px rgba(var(--secondary-color));
    
    }
    .bookstore_info{
        position: relative;
        color: rgba(var(--secondary-color));
        line-height: 1.2em;
        font-size: 1.2em;
        text-align:left;
        width:100%;
        font-family: var(--font);
        margin: var(--item-margin-v);
        border-left: 2px rgba(var(--secondary-color));
    
    }
    .book_gallery{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top:40px;
    
    
    }
    .filter_image{
        box-sizing:border-box;
        width: 100%;
        margin: 3vh;
        /* padding: 0 2vh; */
    
    }

    .gallery{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top:40px;
    
    }

    .book_img{
        width: 60%;
    }
    footer #copy{
        text-align: center;
    color: white;
    font-size: 0.8em;
    }

}
@media screen and (prefers-reduced-motion: reduce) {
    #landing_h1{
        position: relative;
        color: rgba(var(--secondary-color));
        font-size: 8em;
        line-height:1.6em;
        left: 8vw;
        top: 20vh;
        z-index:10;
        font-family: var(--font);
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
    
    }